# Dependencies
node_modules/
**/node_modules/

# Next.js build output
.next/
**/.next/
out/
**/out/

# Production build output for backend
dist/
**/dist/

# Env files
.env
.env*.local
**/.env
**/.env*.local

# IDE and system files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea/
.vscode/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
